%li
  %article.doctor-item{id: "doctor_#{doctor.id}"}
    %header
      %h2= doctor.name
      %span.doctor-distance= distance_with_unit(doctor.distance) if @q
    - if doctor.service_name
      %p= doctor.service_name
    .doctor-location-block
      %p= display_address(doctor.address)
      = map_link(doctor.address)
    - if doctor.phone_number
      %p= link_to t("call_phone_number", number: doctor.phone_number),
                  "tel:#{doctor.phone_number}"
