%header.site-header
  %p= t(:app_purpose)
  = render "doctors/doctor_search_form"
%main.main-content
  - if @q
    %h1.results-summary
      - # TODO: What if there's no doctors?
      #{search_results_summary_sentence(@q, @doctors.length)}
  %ul.doctors-list
    = render @doctors
= render "shared/translate_link"
