!!! 5
%html.no-js{lang: I18n.locale}
  = render "shared/html_head"
  %body
    = yield
    %nav.footer-navigation
      = link_to_unless_current "Translate this", translate_path do
        - if @previous_path
          = link_to "Back", previous_path_with_locale(@previous_path, I18n.locale)
        - else
          = link_to "Back", root_path
      = link_to_unless_current "About project", about_path do
        = link_to "Search", root_path
