!!! 5
%html.no-js{lang: I18n.locale}
  = render "shared/html_head"
  %body
    = yield
    %nav.footer-navigation
      = link_to_unless_current "Translate this", translate_path do
        - if @previous_query
          = link_to "Back", doctors_path(q: @previous_query)
        - else
          = link_to "Back", root_path
      = link_to "About project", about_path
