<!DOCTYPE html>
<html>
<head>
  <title>DocLink</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render "doctors/doctor_search_form" %>
  <%= link_to "Change language", language_path %>
</header>
<%= yield %>

</body>
</html>
